<h1>UTLA R<sub>t</sub> maps and charts</h1>
<h2>Generated  <%=format(Sys.time(),'%B %d, %Y at %H:%M')%></h2>
<p>
  Demonstration maps and plots of R<sub>t</sub>.
</p>
<ul>
  <li><a href="maps/exceedence.html">Is R<sub>t</sub> greater or less than one? Probability maps.</li>
  <!--li><a href="maps/medianRt.html">Median R<sub>t</sub> value maps</li>
  <li><a href="plots.html">Time series R<sub>t</sub> plots</li-->
</ul>
