<h1>R<sub>t</sub> charts</h1>
<ul>
<% for(localarea in sort(names(la))){ %>
<li style="display:inline; padding-left: 1em"><a href="#<%= localarea %>"><%= localarea %></li>
<% } %>
</ul>
<% for(localarea in sort(names(la))){ %>
<a name="<%= localarea %>">
<img src="plots/<%= paste0(localarea,'.png') %>">
<% } %>
